[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tensorflow = "*"
gensim = "*"
spacy = "*"
nltk = "*"
tensorflow-hub = "*"
beautifulsoup4 = "==4.11.2"
google = "*"
matplotlib = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
